<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>

    <style>
      .success{
        color: red;
      }
    </style>

  </head>
  <body>
    <h1>SignUp</h1>
    <form action="#" method="post" novalidate>
      {% csrf_token %} 
      {% for field in form %} 
        {{field.label_tag}} {{field}}
        {{field.errors|striptags}} <br /><br /><br />
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
    {% if messages %}
      {% for message in messages %}
        <small {% if message.tags %}
          class="{{message.tags}}" {% endif %}> 
        {{message}} 
        </small>
      {% endfor %}
    {% endif %}
    <a href="{% url 'login' %}">Login</a>

    <br>
    {% if form.non_field_errors %}
      {% for er in form.non_field_errors %}
        {{er}} <br><br>
      {% endfor %}
    {% endif %}
    <br>

  </body>
</html>
